{% extends 'Blog/padre.html' %}
{% load static %}


{% block contenidoQueCambia %}

<h2>Post</h2>
<table style="margin: 0 auto;">
<div class="posts"style="text-align:center;">
    {% for p in posteo%}
    <div class="posteos">
        <div class="contenedor_posteos">
            <div class="detalle">
                <h6>{{p.fecha}}</h6>
                <h1>{{p.titulo | capfirst}}</h1>
                <h6>Autor: {{p.autor}}</h6>
                <h4>{{p.texto}}</h4>>
            </div>
        </div>

    </div>
</div>
    {% endfor%}

{% endblock %}